[submodule "student_repository/tool"]
	path = student_repository/tool
	url = https://kangwon_fwd@dev.naver.com/git/reposetman.git
[submodule "student_repository/data/14cpfahusti519"]
	path = student_repository/data/14cpfahusti519
	url = https://nobody:nobody@dev.naver.com/git/14cpfahusti519.git
[submodule "student_repository/data/puppyj1234"]
	path = student_repository/data/puppyj1234
	url = https://nobody:nobody@dev.naver.com/git/puppyj1234.git
[submodule "student_repository/data/14cpfassangshow"]
	path = student_repository/data/14cpfassangshow
	url = https://nobody:nobody@dev.naver.com/git/14cpfassangshow.git
[submodule "student_repository/data/14cpfakkm3801"]
	path = student_repository/data/14cpfakkm3801
	url = https://nobody:nobody@dev.naver.com/git/14cpfakkm3801.git
[submodule "student_repository/data/14cpfacorey1"]
	path = student_repository/data/14cpfacorey1
	url = https://nobody:nobody@dev.naver.com/git/14cpfacorey1.git
[submodule "student_repository/data/14acpfduaxogh32"]
	path = student_repository/data/14acpfduaxogh32
	url = https://nobody:nobody@dev.naver.com/git/14acpfduaxogh32.git
[submodule "student_repository/data/hi8954"]
	path = student_repository/data/hi8954
	url = https://nobody:nobody@dev.naver.com/git/hi8954.git
[submodule "student_repository/data/14cpfahama0816"]
	path = student_repository/data/14cpfahama0816
	url = https://nobody:nobody@dev.naver.com/git/14cpfahama0816.git
[submodule "student_repository/data/qjacks369"]
	path = student_repository/data/qjacks369
	url = https://nobody:nobody@dev.naver.com/git/qjacks369.git
[submodule "student_repository/data/14cpfwomjeejun"]
	path = student_repository/data/14cpfwomjeejun
	url = https://nobody:nobody@dev.naver.com/git/14cpfwomjeejun.git
[submodule "student_repository/data/14cpfadongmin"]
	path = student_repository/data/14cpfadongmin
	url = https://nobody:nobody@dev.naver.com/git/14cpfadongmin.git
[submodule "student_repository/data/14cpfasai2312"]
	path = student_repository/data/14cpfasai2312
	url = https://nobody:nobody@dev.naver.com/git/14cpfasai2312.git
[submodule "student_repository/data/cpfbwhkimi2"]
	path = student_repository/data/cpfbwhkimi2
	url = https://nobody:nobody@dev.naver.com/git/cpfbwhkimi2.git
[submodule "student_repository/data/14cpfasii1"]
	path = student_repository/data/14cpfasii1
	url = https://nobody:nobody@dev.naver.com/git/14cpfasii1.git
[submodule "student_repository/data/cpfaouch22"]
	path = student_repository/data/cpfaouch22
	url = https://nobody:nobody@dev.naver.com/git/cpfaouch22.git
[submodule "student_repository/data/14cpfaq3259619"]
	path = student_repository/data/14cpfaq3259619
	url = https://nobody:nobody@dev.naver.com/git/14cpfaq3259619.git
[submodule "student_repository/data/14cpfasun1867"]
	path = student_repository/data/14cpfasun1867
	url = https://nobody:nobody@dev.naver.com/git/14cpfasun1867.git
[submodule "student_repository/data/14cpfadb7279"]
	path = student_repository/data/14cpfadb7279
	url = https://nobody:nobody@dev.naver.com/git/14cpfadb7279.git
[submodule "student_repository/data/14cpfatonghyt"]
	path = student_repository/data/14cpfatonghyt
	url = https://nobody:nobody@dev.naver.com/git/14cpfatonghyt.git
[submodule "student_repository/data/14cpfaskychlrud"]
	path = student_repository/data/14cpfaskychlrud
	url = https://nobody:nobody@dev.naver.com/git/14cpfaskychlrud.git
[submodule "student_repository/data/14cpfagkseodn"]
	path = student_repository/data/14cpfagkseodn
	url = https://nobody:nobody@dev.naver.com/git/14cpfagkseodn.git
[submodule "student_repository/data/14cpfarkgod123"]
	path = student_repository/data/14cpfarkgod123
	url = https://nobody:nobody@dev.naver.com/git/14cpfarkgod123.git
[submodule "student_repository/data/14cpfaskswook"]
	path = student_repository/data/14cpfaskswook
	url = https://nobody:nobody@dev.naver.com/git/14cpfaskswook.git
[submodule "student_repository/data/14cpfakimoh483"]
	path = student_repository/data/14cpfakimoh483
	url = https://nobody:nobody@dev.naver.com/git/14cpfakimoh483.git
[submodule "student_repository/data/14cpfatngus5058"]
	path = student_repository/data/14cpfatngus5058
	url = https://nobody:nobody@dev.naver.com/git/14cpfatngus5058.git
[submodule "student_repository/data/14cpfakenshero2"]
	path = student_repository/data/14cpfakenshero2
	url = https://nobody:nobody@dev.naver.com/git/14cpfakenshero2.git
[submodule "student_repository/data/14cpfaqkrtnqja"]
	path = student_repository/data/14cpfaqkrtnqja
	url = https://nobody:nobody@dev.naver.com/git/14cpfaqkrtnqja.git
[submodule "student_repository/data/14cpfawogus9650"]
	path = student_repository/data/14cpfawogus9650
	url = https://nobody:nobody@dev.naver.com/git/14cpfawogus9650.git
[submodule "student_repository/data/14cpfapjh940404"]
	path = student_repository/data/14cpfapjh940404
	url = https://nobody:nobody@dev.naver.com/git/14cpfapjh940404.git
[submodule "student_repository/data/14cpfajeongh122"]
	path = student_repository/data/14cpfajeongh122
	url = https://nobody:nobody@dev.naver.com/git/14cpfajeongh122.git
[submodule "student_repository/data/14cpfawogns"]
	path = student_repository/data/14cpfawogns
	url = https://nobody:nobody@dev.naver.com/git/14cpfawogns.git
[submodule "student_repository/data/14cpfahoijuly"]
	path = student_repository/data/14cpfahoijuly
	url = https://nobody:nobody@dev.naver.com/git/14cpfahoijuly.git
